:root {
  --background: #0e0e0e;
  --error: #ff716c;
  --error_container: #9f0519;
  --error_dim: #d7383b;
  --inverse_on_surface: #555555;
  --inverse_primary: #006a71;
  --inverse_surface: #f9f9f9;
  --on_background: #ffffff;
  --on_error: #490006;
  --on_error_container: #ffa8a3;
  --on_primary: #005d63;
  --on_primary_container: #005359;
  --on_primary_fixed: #003f43;
  --on_primary_fixed_variant: #005e64;
  --on_secondary: #001662;
  --on_secondary_container: #f9f6ff;
  --on_secondary_fixed: #002593;
  --on_secondary_fixed_variant: #003bd9;
  --on_surface: #ffffff;
  --on_surface_variant: #ababab;
  --on_tertiary: #290067;
  --on_tertiary_container: #f8f1ff;
  --on_tertiary_fixed: #1f0052;
  --on_tertiary_fixed_variant: #4700a7;
  --outline: #757575;
  --outline_variant: #484848;
  --primary: #8ff5ff;
  --primary_container: #00eefc;
  --primary_dim: #00deec;
  --primary_fixed: #00eefc;
  --primary_fixed_dim: #00deec;
  --secondary: #8297ff;
  --secondary_container: #0046fa;
  --secondary_dim: #4065ff;
  --secondary_fixed: #c8cfff;
  --secondary_fixed_dim: #b5c0ff;
  --surface: #0e0e0e;
  --surface_bright: #2c2c2c;
  --surface_container: #191919;
  --surface_container_high: #1f1f1f;
  --surface_container_highest: #262626;
  --surface_container_low: #131313;
  --surface_container_lowest: #000000;
  --surface_dim: #0e0e0e;
  --surface_tint: #8ff5ff;
  --surface_variant: #262626;
  --tertiary: #ac89ff;
  --tertiary_container: #7000ff;
  --tertiary_dim: #874cff;
  --tertiary_fixed: #bda1ff;
  --tertiary_fixed_dim: #b190ff;
}
